.fade.modal.show{
    .modal-dialog{
        .modal-content{
            .modal-body{
                overflow: hidden;
                svg {
                    position: absolute;
                background: #97c84e;
                height: 40px;
                width: 10%;
                padding: 10px;
                color: #ffffff;
                }
                input#__inputItemProps {
                    width: 90%;
                    height: 40px;
                    padding: 0 10px;
                }
                input#__inputItemProps:focus {
                   outline: none;
                }
                
            }
            div#__listItemProps {
                position: absolute;
                right: 0;
                top: 95%;
                width: 100%;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
                overflow: hidden;
                z-index: 99999;
                .noresult{
                    padding: 10%;
                    text-align: center;
                }
                .container-fluid{
                    .items{
                        display: flex;
                        justify-content: space-between;
                        width: 90%;
                        margin: auto;
                        padding: 5% 0;
                        border-bottom: 1px solid #ded5d5;
                        position: relative;
                        z-index: 99999;
                        div:first-child{
                            font-size: 0.9em;
                        }
                    }
                    .items:hover{
                        background-color: #f3f3f3 !important;
                        transition: .5s;
                    }
                    span{
                        font-size: 0.8em;
                        text-transform: initial;
                        background: #cecbcb;
                        padding: 5px;
                        color: #fff;
                        cursor: pointer;
                    }
                }
            }
            div#__listItemProps > div{
                background-color: #ffffff !important;
                font-weight: normal;
                color: #6c6f6c;
                border-bottom: 1px solid;
                > div:nth-child(1) {
                    padding: 5%;
                    border-bottom: 1px solid #ded5d5;
                    font-weight: 500;
                }
                > div:nth-child(2) {
                    padding: 2% 0 2% 5%;
                    span{
                        border-bottom: 1px solid #ded5d5;
                    }
                }
            }
        }
    }
}
