.title-wrap-contact-0::after{
    content:"\203A";
    padding: .9%;

}
.title-wrap-contact-0,.title-wrap-contact-1{
    cursor: pointer;
    color: #292929;
    font-size: .9em;
}
.form_0{
    
}
.contact-title-0 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-title-1{
    display: flex;
    flex-direction: column;
    input[type="input"] {
        border-radius: 4px;
        border: none;
        padding: 1%;
        margin: 3% 0;
    }
    input[type="input"]:focus{
        outline: none;
    }
    span {
        color: azure;
        font-size: 1.1em;
    }
}
.contact-title-1{
    span {
        color: azure;
        font-size: 1.1em;
    }
}
textarea#mission:focus{
    outline: none;
}
.contact-title-2{
    display: flex;
    flex-direction: column;
    width: 100%;
    span {
        color: azure;
        font-size: 1.1em;
    }
}
textarea#mission {
    width: 100%;
}
.contact-submit{
    input[type="submit"] {
        width: 50%;
        background: #39803d;
        border: navajowhite;
        padding: 2%;
        color: #fff;
    }
    input[type="submit"]:focus{
        outline: none;
    }
}
.contact-title-1 {
    width: 45%;
}
.form-contact{
    width: 90%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 5%;
}
.form-contact-0 {
    background: #7b9564;
    width: 100%;
}
.form-name-contact{
    display: flex;
}
.contact-name {
    width: 70%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    justify-content: end;
    border-style: dotted;
    border-radius: 10px;
    border-color: #f5f5f5;
}
.contact-name-0 {
    width: 90%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    color: #fff;
}
.form-name-contact-1{
    width: 100%;
    display: flex;
    padding: 3%;
    background: #7b9564;
}
.contact-name-0{
    span {
        font-weight: 700;
    }
}