.distant___{
    height: 20px;
}
.distant____{
    height: 100px;
}
.title-wrap span{
    cursor: pointer;
}
.title-opg {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
}
.title-wrap-home::after ,.title-wrap-nameproduct::after{
    content:"\203A";
    padding: .9%;
}
.desc_Prod_1 .desc-img-1,.desc_Prod_1 .desc-img-2{
    height: 12rem;
    width: 100%;
}
.desc-img-1 img.img-fluid , .desc-img-2 img.img-fluid{
    height: 100%;
    width: 100%;
}
.desc_Prod_2{
    display: flex;
    align-items: center;
}
.desc-img-2 {
    margin: 15px 0;
}
.desc_Prod_3 .desc-img-4,.desc_Prod_4 .desc-img-5 {
    height: 20rem;
    width: 100%;
}
.desc-img-4 img.img-fluid, .desc-img-5 img.img-fluid {
    height: 100%;
    width: 100%;
}
.desc_Prod_2 {
    margin: 0 0 15px 0;
}
.desc-img-3 img.img-fluid {
    height: 40%;
}
.desc-img-1, .desc-img-2, .desc-img-3,.desc-img-4, .desc-img-5 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.desc-img-1 img.img-fluid:hover , .desc-img-2 img.img-fluid:hover,.desc-img-3:hover img.img-fluid, .desc-img-4 img.img-fluid:hover , .desc-img-5 img.img-fluid:hover{
    transform: scale(1.1);
    transition: .5s;
}
.desc-img-3 {
    background: #f7f7f7;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.desc_Prod_2.col-lg-7 {
    padding-left: 0;
}
.desc_Prod_3.col-lg-6 {
    padding-right: 0;
}

.accordion {
    padding: 10px 0;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1em;
    display: flex;
    transition: 0.4s;
    justify-content: space-between;
    background: none;
    border-bottom: 2px solid #d4d4d4;
    text-transform: uppercase;
}
span.title-opg {
    text-transform: uppercase;
    color: #292929;
}
.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
}
.actives:after {
    content: "\2212";
}
.panel {
    background-color: white;
    max-height : 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.panel_0{
    max-height : 500px;
}
.desc-product {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.accordion-prod div:first-child{
    border-top: 2px solid #d4d4d4;
}
.title-desc-prod {
    font-size: 1.2em;
    color: #292929;
    border-bottom: 2px solid #d4d4d4;
}
.title-infor-prod {
    color: #292929;
    text-align: justify;
    font-size: 0.9em;
}
.title-wrap {
    font-size: .9em;
}
span.title-opg {
    font-size: .9em;
}
.accordion:focus{
    outline: none;
}
@media (max-width: 992px) { 
    .desc_Prod_1 .desc-img-1, .desc_Prod_1 .desc-img-2 {
        width: 100%;
        height: 10rem;
    }
    .desc-img-3 img.img-fluid {
        height: 110px;
    }
    .desc_Prod_3 .desc-img-4, .desc_Prod_4 .desc-img-5 {
        height: 10rem;
        width: 100%;
    }
    .title-wrap {
        font-size: 0.8em;
    }
    .title-infor-prod {
        font-size: 0.7em;
    }
    .title-desc-prod {
        font-size: 0.9em;
    }
    .title-desc-prod h6{
        font-size: 0.9em;
    }
    .accordion {
        padding: 0 0;
        font-size: 0.7em;
    }
    span.title-opg {
        text-transform: uppercase;
        color: #292929;
        font-size: 0.8em;
    }
    .panel p {
        font-size: 0.8em;
    }
}
@media (min-width: 1440px) { 

 }
 
 @media (max-width: 1200px) and (min-width: 992px) { 
    .title-infor-prod {
        font-size: .8em;
    }

    .title-desc-prod h6,.title-desc-prod span{
        font-size: .8em!important;
    }
    .accordion {
        padding: 4px 0;
    }
    .desc_Prod_1 .desc-img-1, .desc_Prod_1 .desc-img-2 {
        height: auto;
        width: 100%;
    }
    .desc_Prod_3 .desc-img-4, .desc_Prod_4 .desc-img-5 {
        height: 15rem;
        width: 100%;
    }
    span.title-opg {
        font-size: 0.9em;
    }
    
 }
 @media (max-width: 768px) { 

    .desc_Prod_1 .desc-img-1, .desc_Prod_1 .desc-img-2 {
        width: 100%;
        height: auto;
    }

    .desc-pro-col{
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 10%;
    }    
}
@media (max-width: 350px) { 
    .desc_Prod_3 .desc-img-4, .desc_Prod_4 .desc-img-5 {
        height: 8rem;
        width: 100%;
    }
}