.contact-Fact{
    position: fixed;
    z-index: 9999;
    top: 55%;
    right: 1%;
    background-image: linear-gradient(#1a3cea, #767684);
    border-radius: 8px;
    .contact-Fact-0{
        display: flex;
        flex-direction: column;
        padding: 8px;
        span{
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: #fff;
            margin: 10px 0;
            svg{
                font-size: 2em;
            }
        }
    }
}
@media (max-width:1000px){
    .contact-Fact {
        border-radius: 5px;
        .contact-Fact-0 {
            padding: 5px;
        }
        .contact-Fact-0 span svg {
            font-size: 1.5em;
        }
    }
}
@media (max-width:768px){
    .contact-Fact {
        .contact-Fact-0 {
            padding: 0px;
        }
        .contact-Fact-0 span svg {
            font-size: 1.1em;
        }
    }
}