.contact-Fact{
    position: fixed;
    z-index: 9;
    bottom: 5%;
    right: 1%;
    background-image: linear-gradient(#1a3cea, #767684);
    border-radius: 5px;
}
.contact-Fact-0{
    display: flex;
    flex-direction: column;
    span{
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: #fff;
    }
}